
<div class="btn-group">
	<button class="active btn" type="button">Low pass</button>
	<button id="show-html" class="btn" type="button">High pass</button>
	<button id="show-html" class="btn" type="button">PWM</button>
</div>

<div class="row">
	<div class="col-lg-6">
		<div class="thumbnail">
			<form name="myForm">
				<p>
					<div class="form-group">
						<label>R (&Omega;)</label>
						<div class="form-group input-group">
							<input class="form-control" 
								type="text" 
								ng-model="r1" name="r1" 
								elec-numbers-only="" 
								ng-blur="updateCircuitValues()" />
							<span class="input-group-btn">
								<button class="btn" type="button"><span class="glyphicon glyphicon-magnet"></span></button>
							</span>
						</div>
						<div class="alert alert-value" ng-show="myForm.r1.$error.format">
							Bad format!
						</div>
						
					</div>
				</p>
				<p>
					<div class="form-group">
						<label>C (F)</label>
						<div class="form-group input-group">
							<input class="form-control" 
								type="text" ng-model="c1" name="c1" 
								elec-numbers-only="" 
								ng-blur="updateCircuitValues()" />
							<span class="input-group-btn">
								<button class="btn" type="button"><span class="glyphicon glyphicon-magnet"></span></button>
							</span>
						</div>

						<div class="alert alert-value" ng-show="myForm.c1.$error.format">
							Bad format!
						</div>
					</div>
				</p>

				<p>
					<div class="form-group">
						<label>Cutoff frequency (Hz)</label>
						<div class="form-group input-group">
							<input class="form-control" 
								type="text" 
								ng-model="freq" name="freq" 
								elec-numbers-only="" 
								ng-blur="updateCircuitValues()" />
							<span class="input-group-btn">
								<button class="btn" type="button"><span class="glyphicon glyphicon-magnet"></span></button>
							</span>
						</div>

						<div class="alert alert-value" ng-show="myForm.freq.$error.format">
							Bad format!
						</div>

					</div>
				</p>

				<p>
					<div class="form-group">
						<label>Time constant &tau; (s)</label>
						<div class="form-group input-group">
							<input class="form-control" 
								type="text" 
								ng-model="tau" name="tau" 
								elec-numbers-only="" 
								ng-blur="updateCircuitValues()" />
							<span class="input-group-btn">
								<button class="btn" type="button"><span class="glyphicon glyphicon-magnet"></span></button>
							</span>
						</div>

						<div class="alert alert-value" ng-show="myForm.tau.$error.format">
							Bad format!
						</div>
					</div>
				</p>


				<p>T: {{ tau }}</p>
				<p>R1 : {{ r1 }}. C1 = {{ c1 }}</p>
				<p>r1_float : {{ r1_float }}, c1_float : {{ c1_float }}</p>

			</form>
		</div>
	</div>
	<div class="col-lg-6">
		<div class="thumbnail">
			<span ng-include="'img/filters-rc-lowpass.svg'"></span>
		</div>
	</div>
</div>